.container-imc {
    width: 50rem;
    padding: 4.375rem 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    
    .image {
        width: 50%;
        text-align: center;
    }

    .content {
        width: 50%;
        color: $text;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        h1 {
            color: $title-text;
            font-size: 2rem;
            margin-top: 2.188rem;
        }


        form {
            margin-top: 1.563rem;
            display: flex;
            flex-direction: column;

            input {
                //width: 22.5rem;
                //box-sizing: border-box;
                border: solid 1px #CCCCCC;
                height: 1.875rem;
                border-radius: 3px;
                margin-bottom: .625rem;
            }

            button {
                @include botao(); //chamando o mixin botao
            }
        }

        #result{
            text-align: center;
            margin-top: 5px;
            //background-color: green;
            color: white;
            padding: 5px;
            display: none;
        }

    }

    @media (max-width: 860px){
        width: 70%;

        .image{
            display: none;
        }

        .content{
            width: 100%;
        }

    }

}